<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  PCBIP
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" mode="side" class="mat-elevation-z24">
    <img
      class="avatar mat-elevation-z8"
      src="https://source.unsplash.com/c_GmwfHBDzk/200x200"
    />

    <h4 class="name">Sudarsan Thangamuthu</h4>
    <p class="designation">Sr. Software Developer</p>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button" *ngFor="let menu of menuList" routerLink={{menu.routerLink}}>
      <mat-icon>{{menu.menuIcon}}</mat-icon>
      <span>{{menu.menuText}}</span>
    </button>

    <mat-divider></mat-divider>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8"><router-outlet></router-outlet></div>
  </mat-sidenav-content>
</mat-sidenav-container>
